* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 1px dotted red;
}

:root {
    --primary-color: #011b32;
    --font-color: white;
    --hover-color: #b5d2ec;

}

html {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;

}
.flex {
    display: flex;
}


/*------------- NAV BAR STYLING ------------*/

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: background-color 250ms ease-in;

    width: 100vw;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 90px;

}

.nav-scrolled {
    background-color: white;
}


.logo-container {
    width: 100px;
    height: 70px;
    margin-left: 50px;
}

.img-logo,.logo-black{
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.logo-black{     
    display: none; 
}

.header-nav ul {
    list-style: none;
    justify-content: space-around;
    width: 60%;
}

.link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.5rem;
    padding: 5px;
    border-bottom: none;
    transition: border-bottom 1s, color;
}

.link-scrolled { 
    color: var(--primary-color);
    transition: border-bottom 1s color;
}


.link:hover {
    border-bottom: 2px solid var(--hover-color);
    color: var(--hover-color);
}

.link-scrolled:hover {
    border-bottom: 2px solid #004888;
    color: #004888;

}

.section-main{
    width: 100vw;
    height: 600px;
    background-color: aquamarine;
}
.section-news{
    width: 100vw;
    height: 1500px;
    background-color: rgb(33, 43, 39);
}

.mobile-nav-icon {
    color:white;
    display: none;
    margin-right: 20px;
    cursor: pointer; 
}

.material-icons {
    font-size: 2.5rem !important;
}




/*------------- NAV BAR RESPOSIVE ------------*/

/*- small tablet to big tablet -*/
@media (max-width: 1024px) {
    
    .logo-container {
        width: 90px;
        height: 60px;

    }
    .link {
        font-size: 1.3rem;
    }
}

/*- small phone to 768 -*/
@media (max-width: 768px) {
    .logo-container {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    #ulMob {
        margin-top: 7rem; 
    }
    .header-nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: flex-end;
        width: 95%;
        height: 100vh;
        transition: display 1s ease-in;
        margin-top: 0 !important;

    }

    .link{
        border-bottom: 2px solid #b5d2ec;

    }
    .mobile-nav-icon{
        display: block;
    }

    .active {
        display: flex !important;
    }

    .header-nav{
        height: 60px;
    }

    .active-nav {
        height: 100%;
        align-items: flex-start;
    }


}



