* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Start Style article page */

.article-main-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.article-container{
    height: 260vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4%;
    margin-left: 8%;
}
.article-heading{
    color: #011b32;
    font-size: 3rem;
    height: fit-content;
    width: 80%;
    margin-top: 2%;
}

.article-sub-heading{
    padding-right: 3%;
    font-size: 1rem;
    height: fit-content;
}

.article-figure{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21%;
    margin-top: 3%;
}


article-image{
    width: 75%;
}

.article-paragraph{
    font-size: 1.3rem;
    padding-top: 3%;
    line-height: 38.5px;
    text-justify: auto;
    width: 77%;
    text-align: justify;
}

.article-related{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    line-height: 35px;
}

.article-keep-reading{
    font-size: 1.2rem;
}

#disqus_thread{
    width: 80%;
    margin-top: 4%;
}

/* End Style article page */

/* Start Media Query for article page */

@media screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    .article-image{
        width: 87%;
    }
}

@media screen and (max-width: 425px){
    html{
        font-size: 8px;
    }

    .article-heading{
        width: 91%;
    }

    .article-paragraph{
        font-size: 1.6rem;
        width: 89%;
        line-height: 30px;
    }

    .article-related{
        font-size: 1.6rem;
        line-height: 25px;
    }


}

@media screen and (max-width: 320px){
    html{
        font-size: 6px;
    }
}

/* End Media Query for article page */

