* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 1px dotted red;
}

:root {
    --primary-color: #011b32;
    --font-color: white;
    --hover-color: #b5d2ec;

}

html {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;

}
.flex {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*------------- NAV BAR STYLING ------------*/

header {
    position: relative;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: background-color 250ms ease-in;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 5rem;

}

.nav-scrolled {
    background-color: white;
}


.logo-container {
    width: 6.25rem;
    height: 4.375rem;
    margin-left: 3.125rem;
}

.img-logo,.logo-black{
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.logo-black{     
    display: none; 
}

.header-nav ul {
    list-style: none;
    justify-content: space-around;
    width: 60%;
}

.link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.5rem;
    padding: 0.3125rem;
    border-bottom: none;
    transition: border-bottom 1s, color;
}

.link-scrolled { 
    color: var(--primary-color);
    transition: border-bottom 1s color;
}


.link:hover {
    border-bottom: 2px solid var(--hover-color);
    color: var(--hover-color);
}

.link-scrolled:hover {
    border-bottom: 2px solid #004888;
    color: #004888;

}

.section-main{
    width: 100vw;
    height: 37.5rem;
    background-color: aquamarine;
}

.mobile-nav-icon {
    color:white;
    display: none;
    margin-right: 1.25rem;
    cursor: pointer; 
}

.material-icons {
    font-size: 2.5rem !important;
}




/*------------- NAV BAR RESPOSIVE ------------*/

/*- small tablet to big tablet -*/
@media (max-width: 1024px) {
    
    .logo-container {
        width: 5.625rem;
        height: 3.75rem;

    }
    .link {
        font-size: 1.3rem;
    }
}

/*- small phone to 768 -*/
@media (max-width: 768px) {
    .logo-container {
        width: 3.125rem;
        height: 3.125rem;
        margin-left: 1.25rem;
    }

    #ulMob {
        margin-top: 7rem; 
    }
    .header-nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: flex-end;
        width: 95%;
        height: 100vh;
        transition: display 1s ease-in;
        margin-top: 0 !important;

    }

    .link{
        border-bottom: 2px solid #b5d2ec;

    }
    .mobile-nav-icon{
        display: block;
    }

    .active {
        display: flex !important;
    }

    .header-nav{
        height: 3.75rem;
    }

    .active-nav {
        height: 100%;
        align-items: flex-start;
    }


}

/***********END NAVBAR ----------------*/


/***********MAIN SECTION --------------*/

.section-main{ 
    width: 100%;
    height: 87vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.subsection-latest {
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 21.875rem;
    background-color: rgb(255, 81, 0);
}

.big-new{
    width: 38.5rem;
    background-color: blueviolet;
    height: 100%;
}

.latest-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title-latest {

}

.small-new {
    width: 19.25rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

}


.most-read {
    width: 18.75rem;
    height: 100%;
    background-color: #011b32;
    background-color: violet;
}

.new-img{
    background-color: yellow;
    width: 100%;
    height: 45%;

}

